body {
  background-color: #9985cc;
  color: #0000FF;
}

nav {
  background-color: rgba(68, 76, 95, 0.3);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

body{
  font-size: 16px;
}

h1{
  font-size: 2em; /* 32px */
  line-height: 75%;
}

p{
  font-size: 100%; /* 16px */
}

a{
  text-decoration: none;
}

a:link { color: #000075; } /* unvisited */
a:visited { color: #6666ff; } /* visited */
a:hover { color: #2e2eff; } /* mouse over */
a:active { color: ##000075; } /* selected */
